@import "./media.scss";

* {
    box-sizing: border-box;
    border-color: var(--accents-4) !important;

    svg {
        // fill: var(--accents-8) !important;
        fill: currentColor;
    }

    &::selection {
        background-color: var(--geist-ufc-color);
        color: var(--accents-1);
    }
}

body {
    padding: 0;
    margin: 0;
}

pre {
    margin: 0;
}

a {
    font-weight: 500;
    color: currentColor;
    text-decoration: none;

    &[target="_blank"] {
        position: relative;

        &::after {
            content: "\00B0";
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(100%, 0%);
        }
    }

    &[data-hidden="true"] {
        color: var(--accents-3);
    }

    &[data-disable="true"] {
        pointer-events: none;
        touch-action: none;
        cursor: not-allowed !important;
    }

    // &[data-active="false"] {
    //     color: var(--accents-8);
    // }

    &:hover,
    &[data-active="true"] {
        color: currentColor;
    }
}

#__next {
    position: relative;
    min-height: 100vh;
    background-color: inherit;
    color: inherit;
    font-size: inherit;
}

aside,
main {
    background-color: inherit;
    color: inherit;
    font-size: inherit;
}

.masonry {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: var(--masonry-template-columns);
    gap: calc(var(--grid-gap) / 2);
}

.masonry-column {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-gap) / 2);
    // padding: 0 calc(var(--grid-gap) / 2);
}
